<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    <section class="sheet-body">
        {{#if (isdefined playbook)}}
        <h1 class="charname"><span>{{localize playbook.name}}</span></h1>
        {{/if}}

        <div style="display: flex;">
            <h2 style="flex-shrink: 0">{{localize "low-stakes.character_name"}}:</h2>
            <input name="name" type="text" value="{{localize actor.name}}" placeholder="Name" />
        </div>

        {{#if (isdefined playbook)}}
        <div class="description">
            {{localize playbook.data.data.description}}
        </div>

        <div class="columns">
            <div class="types column2">
                <h2>{{localize "low-stakes.type"}}</h2>
                <ul>
                    {{#each playbook.data.data.types as |type index|}}
                    <li class="type {{type}}" data-index="{{index}}" {{checked (eq index ../data.data.type)}}>{{localize type}}</li>
                    {{/each}}
                    <li class="type custom" data-index="6" {{checked (eq 6 data.data.type)}}><input name="data.custom_type" value="{{data.data.custom_type}}"/></li>
                </ul>
            </div>

            <div class="powers column2">
                <h2>{{localize "low-stakes.powers"}}</h2>
                <textarea class="powers-box" name="data.powers">{{data.data.powers}}</textarea>
            </div>
        </div>

        <div class="columns">
            <div class="roll-group column2">
                <div class="problem-areas">
                    <h2>{{localize "low-stakes.problem_areas"}}</h2>
                    <ul>
                        {{#each playbook.data.data.problem_areas as |problem_area index|}}
                        <li>{{localize problem_area}}</li>
                        {{/each}}
                        <li class="custom"><input name="data.custom_problem_area" value="{{data.data.custom_problem_area}}"/></li>
                    </ul>
                </div>

                <div class="clout-skills">
                    <h2>{{localize "low-stakes.clout_skills"}}</h2>
                    <ul>
                        {{#each playbook.data.data.clout_skills as |clout_skill index|}}
                        <li>{{localize clout_skill}}</li>
                        {{/each}}
                        <li class="custom"><input name="data.custom_clout_skill" value="{{data.data.custom_clout_skill}}"/></li>
                    </ul>
                </div>
            </div>
            <div class="column2 stats">
                <div>
                    <h2>{{localize "low-stakes.clout"}}</h2>
                    <div class="circle">
                        <div class="clout-toggle">
                            {{#if data.data.clout}}
                                YES
                            {{else}}
                                NO
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div>
                    <h2>{{localize "low-stakes.confidence"}}</h2>
                    <div class="circle large">
                        <input type="number" min=0 name="data.confidence" value="{{data.data.confidence}}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="confessions">
            <h2>{{localize "low-stakes.confessions.title"}}</h2>
            <div>
                <input type="checkbox" name="data.confessions.reveal" id="{{actor.id}}_confessions_reveal" value="{{data.data.confessions.reveal}}" {{checked data.data.confessions.reveal}}/>
                <label for="{{actor.id}}_confessions_reveal">
                    <b>{{localize "low-stakes.confessions.reveal.name"}}</b>
                    <span>{{localize "low-stakes.confessions.reveal.description"}}</span>
                </label>
            </div>
            <div>
                <input type="checkbox" name="data.confessions.foreshadow" id="{{actor.id}}_confessions_foreshadow" value="{{data.data.confessions.foreshadow}}" {{checked data.data.confessions.foreshadow}}/>
                <label for="{{actor.id}}_confessions_foreshadow">
                    <b>{{localize "low-stakes.confessions.foreshadow.name"}}</b>
                    <span>{{localize "low-stakes.confessions.foreshadow.description"}}</span>
                </label>
            </div>
            <div>
                <input type="checkbox" name="data.confessions.poke_fun" id="{{actor.id}}_confessions_poke_fun" value="{{data.data.confessions.poke_fun}}" {{checked data.data.confessions.poke_fun}}/>
                <label for="{{actor.id}}_confessions_poke_fun">
                    <b>{{localize "low-stakes.confessions.poke_fun.name"}}</b>
                    <span>{{localize "low-stakes.confessions.poke_fun.description"}}</span>
                </label>
            </div>
        </div>
        {{else}}
        <div class="playbook-destination">
            {{localize "low-stakes.drag_playbook_over"}}
        </div>
        {{/if}}
    </section>
</form>